form {
  margin: auto;
  margin-top: 50px;
  color: yellow !important;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

input,
textarea {
  border-radius: 5px;
}

.mat-input-element {
  background: white;
  color: black;
  padding: 8px;
}

.mat-hint {
  color: white;
}

.field {
  width: 100%;
}

#direct {
  margin-top: 100px;
  text-align: center;
  color: #e6b800;
  font-size: 25px;
}
a {
  color: #e6b800;
}
#button {
  text-align: center;
}

button {
  width: 30%;
  background-color: #e6b800;
}
