button {
  width: 200px;
  margin-left: 5px;
}
.navbar {
  text-align: center;
  margin: 1%;
}

#titolo {
  text-align: center;
  margin-bottom: 1%;
  color: white;
}

hr {
  margin-bottom: 1%;
}
