<app-carousel></app-carousel>

<div class="outer">
  <div>
    <mat-card class="max" *ngFor="let event of events | async | slice: 0:1 ">
      <mat-card-title><strong>{{ event.Nome }}</strong></mat-card-title>

      <mat-card-content class="max-container">
        <div class="maxfoto">
          <img id="foto" src="{{ event.UrlFoto }}" />
        </div>
        <div class="maxtext">
          <p class="data">{{ event.Formatted }}, {{ event.Luogo }}</p>
          <hr style="margin-bottom: 3%;" />
          <p>{{ event.Descrizione }}</p>
        </div>
      </mat-card-content>

      <mat-card-actions class="maxbutton">
        <button mat-raised-button (click)="openDialog(event)">
          Mappa
        </button>
        <button mat-raised-button>
          <a href="https://www.facebook.com/events/{{ event.idEventi }}" target="_blank">Maggiori Info</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="min-container">
    <mat-card class="min-events" *ngFor="let event of events | async | slice: 1 ">
      <mat-card-title><strong>{{ event.Nome }}</strong></mat-card-title>

      <mat-card-content>
        <p class="data">{{ event.Formatted }}, {{ event.Luogo }}</p>
        <img class="minfoto" src="{{ event.UrlFoto }}" />
      </mat-card-content>

      <mat-card-actions class="minbutton">
        <button mat-raised-button (click)="openDialog(event)">
          Mappa
        </button>
        <button mat-raised-button>
          <a href="https://www.facebook.com/events/{{ event.idEventi }}" target="_blank">Maggiori Info</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <ng-template [ngComponentOutlet]="component"></ng-template>

</div>