<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<footer>
  <p>Powered by Byteman</p>
  <p>&copy; 2020 Diplomatico e il Collettivo Ninco Nanco</p>
  <a
    href="www.facebook.com/Diplomaticoeilcollettivonn/"
    class="fa fa-facebook"
  ></a>
  <a
    href="www.youtube.com/channel/UClSgAqZK9wJIT_RDhdqVObg"
    class="fa fa-youtube"
  ></a>
  <a
    href="www.instagram.com/diplomaticoeilcollettivonn/"
    class="fa fa-instagram"
  ></a>
  <a
    href="open.spotify.com/artist/64GVceW437xz6YCREtCeCv"
    class="fa fa-spotify"
  ></a>
</footer>
