.intromargin {
  margin-left: 10%;
  margin-right: 10%;
}

#intro {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 2% 5% 0 5%;
}

#intro_img {
  width: 90%;
  margin: 1% auto;
}

.inline {
  display: inline-block;
}

#chartdiv {
  width: 60%;
  height: 700px;
}

#legenda {
  position: absolute;
  margin-left: 10%;
  margin-top: 2%;
  width: 15%;
}

.outer {
  margin-top: 70px;
}

.mat-grid-tile {
  color: #e6b800;
}

@media (max-width: 1500px){
  h1{
    font-size: 40px;
  }

  #chartdiv{
    width: 100%;
  }

  #legenda{
    display: none;
  }
}

@media (max-width: 1300px){
  #intro{
    font-size: 20px;
  }
}
@media (max-width: 900px){
  #chartdiv{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
  }
}
@media (max-width: 700px){
  #intro{
    font-size: 12px;
  }
}

@media (max-width: 500px){
  #chartdiv{
    height: 300px;
  }
}