<!-- <div
  class="fb-like"
  data-href="https://www.facebook.com/Diplomaticoeilcollettivonn/"
  data-width=""
  data-layout="standard"
  data-action="like"
  data-size="large"
  data-share="false"
></div> -->
<div class="intromargin">
  <p id="intro">
    Diplomatico e il Collettivo Ninco Nanco è un progetto nato a Venezia<br />
    ma ormai virale in più regioni italiane. <br />Non è raro infatti
    passeggiare per le spiagge del Meridione ad Agosto e <br />sentire
    fischiettare i motivetti dell’ultimo EP “E’ tutto un falso”,<br />
    con più di 1000 copie vendute nel tour del 2018. <br />Capita anche di
    ritrovare nei bar e nelle osterie del triveneto studenti fuorisede che
    strimpellano con chitarre scordate “Tabacco”, il singolo presentato a Giugno
    2019 e che ha preceduto la pubblicazione dell’album “Ho visto il mondo”
    nello stesso anno.
  </p>
</div>
