<div class="intromargin">
  <div id="intro_img">
    <img src="assets/band.gif" alt="Gif band completa" style="width: 100%;" />
  </div>

  <p id="intro">
    Diplomatico e il Collettivo Ninco Nanco è un progetto nato a Venezia<br />
    ma ormai virale in più regioni italiane. <br />Non è raro infatti
    passeggiare per le spiagge del Meridione ad Agosto e <br />sentire
    fischiettare i motivetti dell’ultimo EP “E’ tutto un falso”,<br />
    con più di 1000 copie vendute nel tour del 2018. <br />Capita anche di
    ritrovare nei bar e nelle osterie del triveneto studenti fuorisede che
    strimpellano con chitarre scordate “Tabacco”, il singolo presentato a Giugno
    2019 e che ha preceduto la pubblicazione dell’album “Ho visto il mondo”.
    <br />Con più di 100 concerti alle spalle in soli due anni di attività,<br />
    Diplomatico e il Collettivo Ninco Nanco ha calcato palchi importanti quali
    <br />Home Festival 2019 (VE), Sherwood Festival (PD), Gammazita (CT) e
    Cotriero (LE). <br />Lo spettacolo si fa riconoscere per la varietà della
    proposta musicale,<br />capace di far scatenare anche i pubblici più sobri e
    pudichi, e l’impegno riversato nei testi, attenti a cogliere le sfumature
    della nostra società.
  </p>
</div>

<div class="outer">
  <div class="inline" id="chartdiv"></div>

  <div class="inline" id="legenda">
    <mat-grid-list cols="3" rowHeight="30px">
      <mat-grid-tile [colspan]="2">Regione</mat-grid-tile>
      <mat-grid-tile>Numero</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="40px" *ngFor="let regionCount of regionCounts | async ">
      <mat-grid-tile [colspan]="2">{{ regionCount.regione }}</mat-grid-tile>
      <mat-grid-tile>{{ regionCount.quantita }}</mat-grid-tile>
      <hr />
    </mat-grid-list>
  </div>
</div>