.form {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 30px;
  width: 300px;
}

#fail {
  color: red;
  text-align: center;
}

input {
  border-radius: 5px;
}

.mat-input-element {
  background: white;
  color: black;
  padding: 8px;
  margin-top: -2.5% !important;
}

.loginForm {
  width: 100%;
}

#button {
  text-align: center;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
