<div class="form">
  <form #login="ngForm">
    <p id="fail" *ngIf="error">I dati non sono corretti</p>
    <mat-form-field class="loginForm">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="userData.email" name="email" />
    </mat-form-field>

    <mat-form-field class="loginForm">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="userData.password" name="password" />
    </mat-form-field>

    <div id="button">
      <button mat-raised-button (click)="loginUser(userData); login.reset()">
        Login
      </button>
    </div>
  </form>
</div>