mat-drawer-content {
  background-color: #18121e;
}

mat-drawer {
  background-color: #ffcd00;
}

mat-drawer-container{
  color: white;
}

#spinner {
  position: fixed; 
    left: 50%;
    margin-top: 10%;
    margin-left: -100px;
}