.inline {
  display: inline-block;
}

#chartdiv {
  width: 70%;
  height: 700px;
}

#legenda {
  position: absolute;
  margin-left: 10%;
  margin-top: 2%;
  width: 10%;
}

.outer {
  margin-top: 70px;
}

.mat-grid-tile {
  color: #e6b800;
}
