<div class="outer">
  <mat-card>
    <mat-card-content class="bio">
      <div class="image">
        <img src="assets/diplomatico.webp" alt="diplomatico" />
      </div>
      <div class="text">
        <h3 class="title">DIPLOMATICO</h3>
        <p>
          Francesco Scatigna in arte il Diplomatico, è cresciuto nella periferia
          industriale tarantina in cui i fichi d'india si contendono la scarsa
          respirabilità dell'aria gli operai delle acciaierie. Inizia a cantare
          come solista alla "Sagra del Lampacione" del 1998 in cui commuove il
          pubblico con il suo inedito Pizzarrone. Seguono gli album "A figghia
          muta la mamm' la capesc' "e l'indimenticabile "Mi duole un testicolo".
          Appare come comparsa nel film "Colica renale" di Filippo Bevilacqua e
          presenta la trasmissione Cotolette su Radio Capocchia. Approda nel
          Collettivo Ninco Nanco a causa di un'intolleranza alle melanzane che
          lo costringe a lasciare il sud italia e ad un perenne reflusso
          gastro-esofageo, a cui sono dedicate le sue liriche dell'ultimo
          periodo
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content class="bio">
      <div class="image image-sx">
        <img src="assets/jungla.webp" alt="jungla" />
      </div>

      <div class="text-sx">
        <div class="title-sx">
          <h3>JUNGLA</h3>
        </div>
        <div>
          <p class="p-sx">
            Giovanni Favaro aka Jungla aka il bassista aka il social media
            manager produttore cacciadate supremo. A dodici anni scopre di
            essere un super-sayan ma nessuno gli crede per via della calvizie
            prematura. Decide quindi di mettere i suoi poteri al servizio della
            comunità, contribuendo e risolvendo in gran parte le piaghe che
            affliggono il globo: diventa vegano. Suona il basso perchè ha
            fallito una carriera da nuotatore professionista dopo aver sedotto e
            abbandonato Federica Pellegrini, che per vendicarsi lo ha iniziato
            alla birra. Ormai al quinto trapianto di fegato, il livello del suo
            ematocrito lo costringe a farfugliare costantemente improperi verso
            sè stesso e il mondo, comprensibili soltanto ai gatti e ai vecchi
            che guardano i lavori stradali.
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content class="bio">
      <div class="image">
        <img src="assets/aureliano.webp" alt="aureliano" />
      </div>

      <div class="text">
        <h3 class="title">AURELIANO</h3>
        <p>
          Aureliano Alberto Gaviria Escobar Buendía impara a suonare la chitarra
          dai monaci Zopiloti della foresta amazzonica. Durante sette anni di
          meditazione a base di hayawaska e anfetamine, sviluppa la sua celebre
          tecnica della mano destra, che gli permette anche di arrotolare gli
          spaghetti e prodigarsi in lunghi ditalini. Inventore di 16 ricette di
          pasta al tonno e del gioco "Chi arriva primo qui vince", per il
          Collettivo Ninco Nanco scrive cose senza senso, critica le scelte
          commerciali come pubblicare cazzate sui social ed esegue durante i
          concerti il la minore
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content class="bio">
      <div class="image">
        <img src="assets/raul.webp" alt="raul" />
      </div>

      <div class="text-sx">
        <h3>RAUL</h3>
        <p class="p-sx">
          Raul Catalano, in arte Raul Catalano, nasce fortunato per via del suo
          incredibile nome d'arte. Con questo nome sarebbe potuto diventare un
          torero, uno stilista, un calciatore, un coreografo, un presidente, un
          attore, invece si laurea in filosofia. Per pagarsi gli studi lavora
          nella celebre serie televisiva Zorro come controfigura del sergente
          Garcìa. Abile tanto dell'ars amatoria quanto dell'ars musicale,
          raggiunge il successo con la pubblicazione del manuale per
          percussionisti cardiologi "Battere, battiti e battone" con cui vince
          il premio Lambretta nel 2010. I suoi sfolforanti groove sono ancora
          oggi utilizzati dalle principali multinazionali per incitare gli
          schiavi coltivatori di cotone e i rematori delle piroghe
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content class="bio">
      <div class="image">
        <img src="assets/bob.webp" alt="bob" />
      </div>

      <div class="text">
        <h3 class="title">BOB</h3>
        <p>
          Jack e Fred Durante sono due gemelli pigmei emigrati in Europa durante
          la dittatura. All'età di 5 anni sono saliti uno sull'altro per
          bypassare i controlli all'ingresso della ruota panoramica e il
          passaggio di un meteorite radioattivo in quell'esatto momento ha fuso
          gli arti inferiori del primo con le spalle del secondo: da allora non
          si sono più staccati. Indossano un lungo impermeabile e rispondono
          anagraficamente all'unico nome di "Bob", il che li rende ricercati per
          evasione fiscale in 23 paesi. Bob beve per due, mangia per due ed è in
          grado di soddisfare due donne alla volta, ma usa un solo spazzolino.
          Chi lo sentirà suonare avrà l'impressione che ci siano quattro mani a
          premere i tasti del pianoforte, cosa a tutti gli effetti vera.
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content class="bio">
      <div class="image">
        <img src="assets/ciccio.webp" alt="ciccio" />
      </div>

      <div class="text-sx">
        <h3>CICCIO</h3>
        <p class="p-sx">
          Francesco "Ciccio" Socal inizia la sua carriera di musicista all'età
          di 16 anni debuttando come primo clarinetto nell'Orchesta Filarmonica
          di Cannaregio. Le sua incredibile capacità polmonare gli permette di
          costruire assoli articolati che risvegliano all'unisono tutti i
          serpenti dell'emisfero australe. Al novantesimo compleanno della
          nonna, nell'aiutarla con le candeline spazza via cucina e salotto
          inventando il concetto di "Open space". Pochi sanno che le sue abilità
          derivano per discendenza diretta da uno zio suonatore di cornamusa, il
          cui strumento egli aveva da piccolo accidentamente ingerito,
          credendolo un involtino. Conteso sia dalla squadra olimpica di apnea
          che dall'Associazione Mongolfieristi, giura fedeltà al Collettivo
          Ninco Nanco e alle gonne senza mutande.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
