:active,
:focus,
:hover {
  outline: none;
}

.routing a { 
  all: unset;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;

}

.myNavbar {
  background-color: #ffcd00;
  font-family: "BANGERS", "cursive";
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: inline-block !important;
  width: 80px !important;
  text-align: center !important;
}
.myNavbar h1 {
  font-size: 20px;
}

.mat-flat-button {
  background-color: transparent;
  font-family: "BANGERS", "cursive";
  font-size: 20px;
}

mat-drawer {
  width: 40%;
  background-color: #ffcd00;
}

#mobileMenu {
  display: flex; 
  flex-direction: column;
  align-items: center;
}





mat-drawer button {
  font-size: 20px;
  margin-top: 20px;
}

#mobileClose {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 20px;
}


.social .fa {
  font-size: 15px;
  padding: 0px;
}

.fa {
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook,
.fa-youtube,
.fa-instagram,
.fa-spotify {
  background: transparent;
  color: black;
  /* color: #a8a8a8; */
}

/* MEDIA QUERIES */
@media (min-width: 1001px) {
  .mobile {
    display: none;
  }
}
@media (max-width: 1000px) {
  .social,
  .routing {
    display: none;
  }
}
